DB_USER=ton_user_mysql
DB_PASSWORD=ton_mot_de_passe_mysql
JWT_SECRET=ta_cle_secrete_jwt

# SMTP Gmail : nécessite un "mot de passe d'application" (pas ton mot de passe Gmail normal)
# https://myaccount.google.com/apppasswords
APP_BASE_URL=adresse_base
APP_FRONTEND_URL=http://localhost:4200
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=toncompte@gmail.com
MAIL_PASSWORD=ton_mot_de_passe_application

# Hébergement des images de la galerie évènements (CU23) : clé API gratuite à créer sur un
# compte imgbb, disponible sur https://api.imgbb.com/
IMGBB_API_KEY=ta_cle_api_imgbb
