:host {
  display: block;
  padding: 2rem 1rem;
  border: 2px dashed #d33f3f;
  border-radius: 0.75rem;
  text-align: center;
}

.message {
  color: #d33f3f;
}

.actions:empty {
  display: none;
}

.actions {
  margin-top: 1rem;
}
