<header>
  <a routerLink="/" class="logo">Hub évènementiel</a>

  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Accueil</a>
    <a routerLink="/clubs" routerLinkActive="active">Clubs</a>
    @if (isConnected()) {
      <a routerLink="/mon-calendrier" routerLinkActive="active">Mon calendrier</a>
    }
  </nav>

  @if (isConnected()) {
    <span>Connecté(e) - <button type="button" (click)="logout()">Se déconnecter</button>
    </span>
  } @else {
    <a routerLink="/connexion">Se connecter</a>
  }
</header>
